{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-4">Logowanie do kursu</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mt-4 text-center">
    <p class="text-muted">
        Nie masz jeszcze konta? 
        <a href="{% url 'register' %}" class="fw-bold text-decoration-none">Zarejestruj się tutaj</a>
    </p>
</div>
{% endblock %}